.sidebar {
  --padding: 2rem;
  background-color: #ffffff;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  padding-bottom: 3.6rem;
  position: relative;
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 100;
}

.sidebar.active {
  left: 0;
}

/* user */

.uImage {
  border-radius: 100%;
  width: 4.125rem;
}

.uName {
  font-size: 2.2rem;
}

.user {
  gap: 2rem;
  padding: var(--padding);
  color: #566a7f;
}

/* Common */

.user,
.link {
  align-items: center;
  display: flex;
}

.sectionHeading {
  color: #a1acbb;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  position: relative;
  text-transform: uppercase;
}

/* container */

.container {
  padding-inline: var(--padding);
}

/* Links */

.link {
  border-radius: 6px;
  color: #697a8d;
  font-size: 1.5rem;
  gap: 1.4rem;
  margin-bottom: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  position: relative;
  position: relative;
  transition: all 0.24s ease-in-out;
}

.link:hover {
  background-color: #f8f8f9;
  padding-left: 2rem;
}

.link.active {
  background-color: #e7e7ff;
  border-radius: 0;
  border-radius: 6px;
  color: #696cff;
  font-weight: 600;
}

.link.active::after {
  background-color: #696cff;
  border-radius: 5px;
  content: "";
  height: 100%;
  position: absolute;
  right: -2rem;
  top: 0;
  width: 5px;
}

/* chevron */

.chevron {
  background-color: #696cff;
  border-radius: 100%;
  border: 7px solid #f8f8f9;
  color: white;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 5rem;
}

/* backdrop */

 .backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

@media screen and (min-width: 1023px) {
  .chevron {
    display: none;
  }

  .backdrop {
    display: none;
  }

  .sidebar {
    position: relative;
    left: 0;
  }
}
