.searchbarContainer {
  align-items: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 62px;
  margin-bottom: 1.8rem;
  padding-inline: 2.4rem;
  box-shadow: 0 0 6px 4px rgba(161, 172, 184, 0.1);
  background-color: white;
  flex-grow: 1;
  justify-content: space-between;
}

.inputContainer label {
  margin: 0;
}

.hamburger {
  cursor: pointer;
  line-height: 25px;
  transform: translateY(-1px);
}

.hamburger,
.searchIcon {
  min-width: 19px;
  height: 20px;
  color: #697a8d;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

@media screen and (min-width: 1023px) {
  .hamburger {
    display: none;
  }
}

.logo {
  color: #697a8d;
  font-size: 1.84rem;
  font-weight: 400;
  display: none;
}

/* cart container */

.cartContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 1023px) {
  .cartContainer {
    justify-self: end;
  }

  .searchbarContainer {
    margin-bottom: 2.2rem;
  }

  .logo {
    display: block;
  }
}

/* cart container modal */

.cartContainer,
.logout {
  cursor: pointer;
}

.cartContainer {
  position: relative;
}

.logout {
  position: absolute;
  bottom: -66px;
  left: 24px;
  border-radius: 6px;
  padding: 1.4rem 1.8rem;
  background-color: white;
  z-index: 100;
  box-shadow: var(--box-shadow);
}
